.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  height: 80px;
}

h1 {
  margin: 0;
}

.toolbar .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.toolbar a {
  color: #ffffff;
  text-decoration: none;
}

.toolbar a:hover {
  text-decoration: underline;
}
