.albums-list {
  margin-top: 20px;
  height: 390px;
}

.albumImg {
  position: relative;
}

.albumImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  gap: 20px;
}
