.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
  color: white !important;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  transition: 0.6s;
}

.light {
  background-image: url("./assets/background-light.jpg");
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  pointer-events: none;
}

.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10%;
  min-height: 80px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

.toolbar h1 a {
  color: white !important;
  text-decoration: none !important;
}

.board {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto auto;
  padding: 20px 15px 10px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}

.board,
.player,
.toolbar,
.menu {
  background: rgba(45, 45, 45, 0.38);
  backdrop-filter: blur(15px);
  transition: 0.6s;
}

.light .board,
.light .player,
.light .toolbar,
.light .menu {
  background: rgba(159, 159, 159, 0.38);
  backdrop-filter: blur(15px);
}

.board {
  backdrop-filter: blur(20px);
  overflow-y: auto;
  flex-grow: 1;
}

.artists-list,
.albums-list {
  overflow-y: auto;
}

.artist,
.album,
.track {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(138, 138, 138, 0.3);
  color: white !important;
  text-decoration: none !important;
  transition: 0.1s;
  cursor: pointer;
}

@media (min-width: 479px) {
  .artist:hover,
  .album:hover,
  .track:hover {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(255, 255, 255, 0.15) 30%,
            rgba(255, 255, 255, 0.15) 70%,
            rgba(0, 0, 0, 0)
    );
  }
}

.artist:active,
.album:active,
.track:active {
  background: rgba(255, 255, 255, 0.15);
}

.artistImg,
.albumImg {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 12px;
}

.artistInfo,
.albumInfo {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.artistInfo span,
.albumInfo span {
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}

.page-back {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-image: url("./assets/pageBack.png");
  background-size: 10px;
  background-position: 9px 9px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

.page-back:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.page-back:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.white-btn {
  border: 0;
  border-radius: 20px;
  padding: 13px 27px;
  margin: 15px auto 11px;
  font: inherit;
  font-size: 14px;
  background: #ffffff;
  color: black;
  text-decoration: none;
}

.white-btn:hover {
  background: #e5e5e5;
}

.white-btn:active {
  background: #d2d2d2;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  padding: 0 10px;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}

.input-label {
  color: rgba(238, 238, 238, 0.7);
  position: absolute;
  top: 1.6rem;
  transition: 0.25s ease;
}

.track-number-label {
  top: 1.5rem;
  left: 25px;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 1px solid rgba(238, 238, 238, 0.7);
  font: inherit;
  padding: 0 0 8px;
  color: #ffffff;
}

.input-field:focus,
.input-field:valid {
  outline: 0;
  border-bottom-color: #fff;
}

.input-field:focus + .input-label,
.input-field:valid + .input-label {
  transform: translateY(-1.3rem);
  font-size: 12px;
}

.input-field:focus + .track-number-label,
.input-field:valid + .track-number-label {
  transform: translateY(-1.3rem);
  left: 0;
  font-size: 12px;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  padding-left: 10px;
  font-size: 20px;
}

.admin-buttons span {
  transition: 0.1s;
}

.admin-buttons .delete {
  color: red;
}

.admin-buttons .delete:hover {
  text-shadow: 0 -1px 10px red;
}

.admin-buttons span:hover {
  text-shadow: 0 0 15px white;
  transform: scale(1.2);
}

.artistsMessage {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 13.5%;
  left: 50%;
  transform: translate(-50%);
  width: 350px;
  height: 470px;
  transition: 0.3s ease-out;
}

.artistsMessage-inner {
  margin-top: 100px;
  width: 100%;
  height: 150px;
  padding: 20px;
  background: rgba(147, 147, 147, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  transition: 0.3s;
}

.theme-switcher {
  display: flex;
  align-items: center;
  width: 55px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.74);
  margin: 0 auto;
}

.theme-switcher-inner {
  margin-left: 3px;
  width: 17px;
  height: 17px;
  background-image: url("./assets/night-mode.png");
  background-size: contain;
  border-radius: 50%;
  transition: 0.2s;
}

.light .theme-switcher-inner {
  margin-left: 33px;
  background-image: url("./assets/light-mode.png");
  width: 19px;
  height: 19px
}

@media (max-width: 478px) {
  .toolbar {
    padding: 0 5%;
    min-height: 67px;
    margin-bottom: 0;
  }

  .toolbar h1 {
    font-size: 24px;
  }

  .board {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border-top: 0.5px solid rgba(255, 255, 255, 0.7);
    margin: 0;
    padding: 20px 0 0;
  }

  .theme-switcher {
    margin: 0 0 0 20px;
  }
}
