.tracks-list {
    height: 100%;
    overflow-y: auto;
    margin-top: 20px;
}

.track {
    padding: 20px 10px!important;
}

.track-number {
    align-self: center;
}

.trackInfo {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 25px;
}