.notFoundPage {
    text-align: center;
}

.button {
    display: inline-block;
    border: 0;
    border-radius: 20px;
    padding: 13px 27px;
    margin-top: 15px;
    font: inherit;
    font-size: 14px;
    background: #FFFFFF;
    color: #000;
    text-decoration: none;
}

.button:hover {
    background: #d2d2d2;
}

.button:active {
    background: #e5e5e5;
}